<link rel="stylesheet" href="/styles.css">
<%- include('partials/header'); -%>
<%- include('partials/scrip'); -%>

<h3>Name : <%=tit%></h3>
<br>
<br>
<h3>Task Constraints</h3>
<p><%=con%></p>
<br>
<h3>Problem Statement</h3>
<p><%=pb%></p>
<br>
<h3>Input</h3>
<p><%=inp%></p>
<br>
<h3>Output</h3>
<p><%=out%></p>
<br>
<h3>Example</h3>
<p><%=exm%></p>
<!-- <form action="<%=url%>" >
    
    <button class="bton">Submit</button>
  </form> -->
  <br>
  <br>
  <a href="<%=url%>" class="btn">Submit</a>
<%- include('partials/footer'); -%>